<a href="https://colab.research.google.com/github/PauloP206/Curso-Python/blob/main/GITHUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*INTRODUCCIÓN A PYTHON*

Curso Pytone

Unicafam

Estudiante: Paulo Castellanos

Docente: Nicolas Mojica


---

In [ ]:
# Para poder hacer un comentario debo usar un numeral (#).

print ("Hola Mundo")

Hola Mundo

In [ ]:
#para incertar comentario de ams  de dos lineas se usa tres comillas ("""")
"""
este es
un comentario
de varias lineas
"""
print ("Hola Mundo")

Hola Mundo

*VARIABLES*

In [ ]:
#uNA VARIABE SOLO SE DEBE NOMBRAR SI9N CARACTERES ESPECIALES,SAIN ESPACIOS,  PREFERIBLEMENET EN MINUSCULA.
var="Hola Mundo"
print(var)

Hola Mundo

*TIPOS DE DATOS*

In [ ]:
entero = 42

In [ ]:
flotante = 3.14159

In [ ]:
#Conversion de tipos de datos

entero = int(3.14169) # la respuesta es 3
flotante = float (5) # la respuesta 5.0

*OPERADORES MATEMATICOS*

In [ ]:

a=2
b=4


# Suma

print (a+b) # resultado 6

# resta
print(b-a) # resultado 2

# divicion
c=b/a
print(c) # respuesta 2


# divicion entera (no deja reciduos)

d=3
print (d//a)


# exponenciacion

print(a**5)

# modulo (reciduo que esta en una divicion)

print (b%a)

print(d%a)

# asignacion compuestas ( ciclos bucles)
a+=b
print(a)
a=2

# Redondeo
e=3.14159

print(round(e,2))

# varol absoluto  sd eutiliza ABS
f=a-b

print(abs(f))

#cadenas de texto y elementos de texto

6
2
2.0
1
32
0
1
6
3.14
2

*TEXTO VALORES STREAM*
CADENAS DE TEXTO

In [ ]:
# CONCATENACION DE LOS CARACTERES

saludo = 'hola'
nombre = 'mundo'
mensaje = saludo+" , "+nombre
print(mensaje)


# repeticion de caracteres

repetido= saludo*3
print(repetido)

# indexsacion
#obtener una variable que tenga el primer caracter  de la variable saludo

primer_caracter = saludo[0]
print(primer_caracter)

#genere una nueva variable que estraiga la palabra hola

subcadena = mensaje[0:4]
print(subcadena)

hola , mundo
holaholahola
h
hola

*METODOS DE CADENAS*

In [ ]:
# mayusculas

cadena = 'Python es genial'
print(cadena.upper())

# minuscula

print(cadena.lower())

#remplazo
print(cadena.replace('genial','increible'))

#ceparar al cadena (ceparar)
print(cadena.split(' '))

print(cadena[0])

cadena_separado = cadena.split(' ')
print(cadena_separado[0])

PYTHON ES GENIAL
python es genial
Python es increible
['Python', 'es', 'genial']
P
Python

*ESTRUCTURAS DE DATOS*

In [ ]:
# listas son las estructuras de python mas usasdas por su flexibilidad y fasilidad e uso
lista = [1, 2, 3, "cuatro", 5.0]
print(lista)

 # modificar elementos de la lista

lista[3]=4
print(lista)

#como inserto elemntos en una lista (insertar elementos)
# con uan posicion determinada
#insertarn elementos

lista.insert(3,3.3)

print(lista)


# remover de uan lista
lista.remove(5.0)
print(lista)

[1, 2, 3, 'cuatro', 5.0]
[1, 2, 3, 4, 5.0]
[1, 2, 3, 3.3, 4, 5.0]
[1, 2, 3, 3.3, 4]

*Clase 3 -  20 de noviemrbe de 2024*

*Diccionario de datos*

In [9]:
#los direccionario se identifica con el inicio y cierre de {} (llaves),  y al variable contenida dentro de la etiqueta de la variable

mi_diccionario={
    'nombre':'paulo',
    'edad':'32',
    'ciudad':'bogota'
}

# llamar la variable nombre

print(mi_diccionario ['nombre'])

# Modificacion de diccionarios

mi_diccionario ['nombre'] = 'priyenko'

print(mi_diccionario ['nombre'])

print(mi_diccionario )

# añadir elemento ene l diccionario

mi_diccionario['profecion']='ingeniero industrail'

print(mi_diccionario )

paulo
priyenko
{'nombre': 'priyenko', 'edad': '32', 'ciudad': 'bogota'}
{'nombre': 'priyenko', 'edad': '32', 'ciudad': 'bogota', 'profecion': 'ingeniero industrail'}